@model IEnumerable<QuickMartDataAccessLayer.Models.Order>

@{
    ViewData["Title"] = "ShowAllOrders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>ViewAllOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaymentReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            @if (item.IsPaymentReceived == false)
            {
                <td>
                    No
                </td>
            }

            @if (item.IsPaymentReceived == true)
            {
                <td>
                    Yes
                </td>
            }


            <td>
                    <i class="fa fa-inr" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("View", "ShowOrderedItems", item)
            </td>
        </tr>
         
}
    </tbody>
</table>
